<% layout('layouts/boilerplate') -%>
<div class="d-flex justify-content-between mb-5">
    <h1><%= job.name %></h1>
    <a class="btn btn-secondary d-flex align-items-center" href="/jobs">Back</a>
</div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Round No.</th>
            <th>Ref.</th>
            <th>Name</th>
            <th>Address</th>
            <th>Details</th>
            <th>Freq.</th>
            <th>Ext</th>
            <th>Int</th>
            <th>Acc/Manager</th>
        </tr>
        <tr>
            <td>
                <%= job.roundNumber %>
            </td>
            <td>
                <%= job.ref %>
            </td>
            <td>
                <%= job.name %>
            </td>
            <td>
                <%= job.address %>
            </td>
            <td>
                <%= job.details %>
            </td>
            <td>
                <%= job.freq %>
            </td>
            <td>
                <%= job.exterior %>
            </td>
            <td>
                <%= job.interior %>
            </td>
            <td>
                <%= job.accManager %>
            </td>
            <td>
                <a class="btn btn-primary"href="/jobs/<%=job._id%>/edit">Edit</a>
            </td>
            <td>
                <form action="/jobs/<%=job._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>

    </table>
</div>
    
    
   

