<% layout('layouts/boilerplate') -%>

<h1>Round</h1>

<form action="/rounds/new" method="GET">
    <input type="number" placeholder="round" name="number">
    <input type="text" placeholder="employee" name="employee">
    <button>search</button>
</form>
<form action="/rounds" method="POST">
<% for (let person of operative) {%>
<h2><label for="operative"><input type="text" id="operative" name="round[operative]" value="<%= operative[0].name %>" readonly></label></h2>
<% } %>
    





<table class="table">
    <thead>
    <tr>
        <th>Ref.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Details</th>
        <th>Freq.</th>
        <th>Ext</th>
        <th>Int</th>
        <th>Acc/Manager</th>

    </tr>
</thead>
    

    <% for (let job of round) { %>
     
            
        <tr>
            <td>
                <label class="form-label" for="ref"><input class="form-control d-inline" type="text" id="ref" name="<%=`round[ref]`%>" value="<%=job.ref%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="name"><input class="form-control" type="text" id="name" name="round[name]" value="<%=job.name%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="address"><input class="form-control" type="text" id="address" name="round[address]" value="<%=job.address%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="details"><input class="form-control"type="text" id="details" name="round[details]" value="<%=job.details%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="freq"><input class="form-control" type="text" id="freq" name="round[freq]" value="<%=job.freq%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="exterior"><input class="form-control" type="number" id="exterior" name="round[exterior]" value="<%=job.exterior%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="interior"><input class="form-control" type="number" id="interior" name="round[interior]" value="<%=job.interior%>" readonly></label>
            </td>
            <td>
                <label class="form-label" for="accManager"><input class="form-control d-inline" type="text" id="accManager" name="round[accManager]" value="<%=job.accManager%>" readonly></label>
            </td>
            <td>
                <a class="btn btn-dark" href="/jobs/<%= job._id %> ">View</a>
            </td>
        </tr>
        <% } %>

</table>
<button class="btn btn-primary" id="create-round">Create Round</button>
</form>
</div>




